.footer_title{
  font-family: var(--bold-f);
  font-size: 50px;
  color: var(--text-color);
  padding-inline: 10px;
  grid-column: 1/3;
  justify-self: center;
}

.footer{ 
  background-color: var(--bg-footer-color);
  padding-top: 40px;
  padding-inline: var(--padding-inline);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.footer__paragraph-block{
  grid-column: 1/3;
  justify-self: center;
  text-align: center;
  font-family: var(--normal-f);
  font-size: 20px;
  color: var(--text-color);
}

.footer__contacts{
  justify-self: center;
}