.footer_title{
  font-family: var(--bold-f);
  font-size: var(--title-size);
  color: var(--text-color);
  padding-inline: 10px;
  grid-column: 1/3;
  justify-self: center;
  margin-bottom: 40px;
  text-align: center;
}

.footer{ 
  background-color: var(--bg-footer-color);
  padding-top: 40px;
  padding-inline: var(--padding-inline);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  justify-items: center ;
}


.footer__paragraph-block{
  grid-column: 1/3;
  justify-self: center;
  text-align: center;
  font-family: var(--normal-f);
  font-size: var(--font-size);
  color: var(--text-color);
  margin-bottom: 40px;
}

.footer__contacts{
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}



.footer__contacts-item{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  background: var(--text-color);
  padding: 10px;
  border-radius: 20px;
}

.footer__contacts-item__media{
  width: clamp(30px, 26.00px + 1.25vw, 50px);
}

.footer__contacts-item__content{
  font-family: var(--normal-f);
  text-decoration: none;
  font-size: var(--font-size);
}

.footer__help-photo{
  width: 270px;
  margin-bottom: 10px;
}

.footer__help{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__help-paragraph{
  font-family: var(--normal-f);
  font-size: var(--font-size);
  color: var(--text-color);
}

@media (width<=900px) {
  .footer{
    display: flex;
    flex-direction: column;
  }
}