@font-face {
  font-family: 'Luxemburg';
  src: url(./luxembourg-1910.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Angst-bold';
  src: url(./Angst-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Angst-normal';
  src: url(./Angst-Normal.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Angst-thin';
  src: url(./Angst-Thin.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader-Italic';
  src: url(./NewsreaderCyr72pt-LightItalic.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader';
  src: url(./NewsreaderCur72pt-Regular.otf) format('opentype');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Volda';
  src: url(./Vollda-Bold.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src: url(./WorkSansCyr-Regular.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans-bold';
  src: url(./WorkSansCyr-Bold.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Passions';
  src: url(./PassionsConflictRUS-Regular.otf) format('opentype');
  font-display: swap;
}