@use '../../variables.css' as *;

.scroll-section {
  padding-inline: var(--padding-inline);
  padding-block-start: var(--padding-block);
  padding-block-end: 50px;
  min-height: 100vh;
  background-color: var(--bg-color);
  z-index: 3;
  .wrapper-cards {
    height: 100vh;

    .card-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      padding: 0.2rem;
      position: relative;

      .card {
        width: 100%;
        height: 60%;
        display: flex;
        position: absolute;
        inset: 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        overflow: hidden;

        &__content {
          background-color: var(--text-color);
          display: grid;
          grid-template-rows: min-content;
          grid-template-columns: min-content;
          padding: 1rem 3rem 3rem;
          position: relative;
          width: 50%;
          gap: 20px
        }

        &__number {
          font-size: 1.5rem;
          height: 3rem;
          width: 3rem;
          margin-bottom: 0.5rem;
          border-radius: 50%;
          background-color: var(--bg-color);
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--thin-f);
          top: 1rem;
        }

        &__media {
          object-fit: fill;
          width: 50%;
          height: 100%;
        }
        &__title{
          padding: 10px;
          font-family: var(--bold-f);
          color: var(--main-title-color);
          font-size: clamp(0.625rem, 0.2232rem + 4.2857vw, 1.5625rem);
        }
        &__text{
          grid-column: 1/3;
          font-family: var(--normal-f);
          color:#000;
          font-size: clamp(0.625rem, 0.50rem + 0.63vw, 1.25rem);
          margin-bottom: 20px;
          .additional{
            padding: 0;
            color: var(--main-title-color);
            font-family: var(--bold-f);
            font-size: clamp(0.625rem, 0.0893rem + 5.7143vw, 1.875rem);
          }
        }
      }
    }
  }
}

@media (width<=945px) {
  .scroll-section {
    .wrapper-cards {
      .card-list {
        .card {
          &__content{
            padding: 1rem;
            gap: 0;
        }
      }
    }
  }
}
}

@media (width<=768px) {
  .scroll-section {
    .wrapper-cards {
      .card-list {
        .card {
          &__media{
            position: absolute;
            z-index: 0;
            width: 100%;
        }
          &__content{
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.8);
            width:clamp(90%, 70vw, 60%);
      }
    }
    }
  }
}
}