@use '../../variables.css' as *;

.scroll-section {
  padding-inline: var(--padding-inline);
  padding-block-start: var(--padding-block);
  padding-block-end: 50px;
  min-height: 100vh;
  background-color: var(--bg-color);

  .wrapper-cards {
    height: 100vh;

    .card-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      padding: 0.2rem;
      position: relative;

      .card {
        width: 100%;
        height: 70%;
        display: flex;
        position: absolute;
        inset: 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        overflow: hidden;

        &__content {
          background-color: #fff;
          flex-flow: column;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding: 3rem;
          position: relative;
          width: 50%;
        }

        &__number {
          font-size: 1.5rem;
          height: 3rem;
          width: 3rem;
          margin-bottom: 0.5rem;
          border-radius: 50%;
          background-color: aquamarine;
          color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--thin-f);
          position: absolute;
          top: 1rem;
        }

        &__media {
          object-fit: cover;
          width: 50%;
          height: 100%;
        }
      }
    }
  }
}
