

.products{
  background-color: var(--bg-color);
  padding-block: 120px 110px;
  padding-inline: var(--padding-inline);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.modal-product{
  justify-self: center;
}

.products__section-title{
  font-family: var(--normal-f);
  font-size: var(--title-size);
  color: var(--text-color);
  grid-column: 1/-1;
  justify-self: center;
}

.products__card-button{
  justify-self: center;
}

.products__card{
  position: relative;
  aspect-ratio: 3 / 4;
  height: auto;
  width: 100%;
  max-width: 300px;
  background-color: #1f322b;
  transition: all 0.3s ease;
  padding: 30px;
  overflow: hidden;
  display: grid;
  justify-content: center;
}

@media (width<=1024px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width<=1024px) {
  .products {
    grid-template-columns: 1fr;
  }
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  filter: brightness(0.5);
  background-size: cover; 
}

.products__card:hover .background{
  filter: blur(6px) brightness(0.3)
}

.products__card__content-block{
  display: grid;
  grid-template-rows: min-content;
  z-index: 2;
}

.products__card-title{
  font-family: var(--bold-f);
  font-size: 25px;
  color: var(--text-color);
  text-shadow: 0 4px 8px rgba(0,0,0.3);
}

.products__card-paragraph{
  opacity: 0;
  font-family: var(--normal-f);
  font-size: 18px;
  color: var(--text-color);
  text-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.price-block{
  opacity: 0;
}

.sale {
  font-family: var(--normal-f);
  font-size: 18px;
  text-shadow: 0 4px 8px rgba(0,0,0,0.5);
  color: var(--text-color);
}

.products__card-price{
  font-family: var(--normal-f);
  font-size: 18px;
  color: #b60000;
  text-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.products__card:hover .products__card-paragraph, .products__card:hover .price-block{
  opacity: 1;
}

.prof__pilo{
  background-image: url('/images/prof__pilo.png');
  background-size: cover;
}

.kalibr__pilo{
  background-image: url('/images/kalibr__pilo.png');
  background-size: cover; 
}