:root{
  --bg-forest: url(../../public/images/header-forest.png);
  --bold-f: Angst-bold;
  --thin-f: Angst-thin;
  --normal-f: Angst-normal;
  --padding-inline: clamp(40px, 0.00px + 12.50vw, 240px);
  --padding-block: 100px; 
  --font-size: clamp(15px, 14.00px + 0.31vw, 20px);
  --text-size: 20px;
  --title-size: clamp(27px, 22.40px + 1.44vw, 50px);
  --main-title-color:#253935;
  --bg-color: #142927;
  --bg-footer-color:#0d1b19;
  --text-color: #dfe2dc;
  --menu-item-color: #dfe2dc
}

