.geo{
  background-color: var(--bg-color);
  padding-block: 0 110px;
  padding-inline: var(--padding-inline);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.geo_title{
  grid-column: 1/3;
  font-family: var(--normal-f);
  font-size: var(--title-size);
  color: var(--text-color);
  justify-self: center;
}

.geo_text{
  font-family: var(--normal-f);
  font-size: clamp(22px, 20.40px + 0.50vw, 30px);
  color: var(--text-color);
  text-align: center;
  justify-self: center;
  padding-bottom: 4px;
}

.geo__map{
  justify-self: center;
  width: 100%;
  width: clamp(250px, 203.60px + 14.50vw, 482px);
  aspect-ratio: 1.3/1;
}

.geo__text-block{
  align-self: center;
}



@media (width<=900px) {
  .geo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}