.geo{
  background-color: var(--bg-color);
  padding-block: 0 110px;
  padding-inline: var(--padding-inline);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.geo_title{
  grid-column: 1/3;
  font-family: var(--normal-f);
  font-size: 50px;
  color: var(--text-color);
  justify-self: center;
}

.geo_text{
  font-family: var(--normal-f);
  font-size: 30px;
  color: var(--text-color);
  text-align: end;
  justify-self: center;
}

.geo__map{
  justify-self: center;
}